.footer {
  padding: 20px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer__copyright {
  display: block;
  text-align: center;
}
