.social {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  color: var(--color-light);
  background-color: var(--color-accent);
  border-radius: 50%;

  transition-property: color, background-color, outline;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function
  );
}

.social__link:focus {
  outline: none;
}

.social__link:hover,
.social__link:focus {
  color: var(--color-accent);
  background-color: var(--color-light);
  outline: 1px solid var(--color-accent);
}
